<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dee.studyadmin.repository.mybatis.MenuMapper">

    <select id="findAll" resultType="com.dee.studyadmin.entity.Menu">
      SELECT
        b.NAME AS par_menu_name,
        a.id,
        a.NAME,
        a.url,
        a.level,
        a.menu_code,
        a.menu_type,
        a.par_menu_id,
        a.menu_index,
        a.`status`,
        a.icon,
        a.description,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time
    FROM
        menu a
    LEFT JOIN menu b ON a.par_menu_id = b.id
    ORDER BY
	a.par_menu_id ASC
    </select>

    <select id="findMenusByUser" resultType="com.dee.studyadmin.entity.Menu">
        SELECT
            a.id,
            a. NAME,
            a.url,
            a. LEVEL,
            a.menu_code,
            a.menu_type,
            a.par_menu_id,
            a.menu_index,
            a.`status`,
            a.icon,
            a.description,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time
        FROM
            menu a
        WHERE
            a.`status` = '10'
        ORDER BY
            a.LEVEL ASC,
            a.menu_index ASC
    </select>

</mapper>